#local-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.local-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.local-search-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.local-origin-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
    text-align: right;

    color: rgba(138, 146, 166, 1);
}